<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Active Directory API</display-name>
    <description>This is an API to do the read and write operations on Microsoft Active Directory </description>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>local.healthportal.ServletClass.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAttribute</servlet-name>
        <servlet-class>local.healthportal.ServletClass.AddAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttribute</servlet-name>
        <servlet-class>local.healthportal.ServletClass.UpdateAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAnUserAttributes</servlet-name>
        <servlet-class>local.healthportal.ServletClass.GetAnUserAttributes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>local.healthportal.ServletClass.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>local.healthportal.ServletClass.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAttribute</servlet-name>
        <servlet-class>local.healthportal.ServletClass.GetAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLogin</servlet-name>
        <servlet-class>local.healthportal.ServletClass.TestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAttribute</servlet-name>
        <servlet-class>local.healthportal.ServletClass.DeleteAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>local.healthportal.ServletClass.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserFromGroup</servlet-name>
        <servlet-class>local.healthportal.ServletClass.RemoveUserFromGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>local.healthportal.ServletClass.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateName</servlet-name>
        <servlet-class>local.healthportal.ServletClass.UpdateName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsername</servlet-name>
        <servlet-class>local.healthportal.ServletClass.UpdateUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserToGroup</servlet-name>
        <servlet-class>local.healthportal.ServletClass.AddUserToGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>local.healthportal.ServletClass.ForgetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAttribute</servlet-name>
        <url-pattern>/AddAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttribute</servlet-name>
        <url-pattern>/UpdateAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnUserAttributes</servlet-name>
        <url-pattern>/GetAnUserAttributes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttribute</servlet-name>
        <url-pattern>/GetAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLogin</servlet-name>
        <url-pattern>/TestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAttribute</servlet-name>
        <url-pattern>/DeleteAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserFromGroup</servlet-name>
        <url-pattern>/RemoveUserFromGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateName</servlet-name>
        <url-pattern>/UpdateName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsername</servlet-name>
        <url-pattern>/UpdateUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserToGroup</servlet-name>
        <url-pattern>/AddUserToGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Context</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <!-- auth-constraint goes here if you requre authentication -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
